{
  "folders": [
    {{- range .GoModules }}
    {
      "path": "{{ . }}"
    },
    {{- end }}
    {
      "path": "."
    }
  ],
  "extensions": {
    "recommendations": ["EditorConfig.EditorConfig", "golang.go"]
  },
  "settings": {}
}
