version: 2
updates:
  - package-ecosystem: github-actions
    directory: "/"
    labels: [dependencies]
    assignees: [htdvisser]
    reviewers: [htdvisser]
    schedule:
      interval: monthly
    commit-message:
      prefix: "*:"
  - package-ecosystem: gomod
    directory: "/"
    labels: [dependencies]
    assignees: [htdvisser]
    reviewers: [htdvisser]
    schedule:
      interval: monthly
    commit-message:
      prefix: "*:"
  {{- range .GoModules }}
  - package-ecosystem: gomod
    directory: "/{{ .Module }}"
    labels: [dependencies]
    assignees: [htdvisser]
    reviewers: [htdvisser]
    schedule:
      interval: monthly
    commit-message:
      prefix: "{{ .Prefix }}:"
  {{- end }}
